* {
    box-sizing: border-box;
    margin: 0;

}

main {
    padding: 2em;
    background-color:darkcyan ;
}

.page1 {
    display: flex;
    flex-direction: column;
    border: 1px rgb(0, 0, 0) solid;
    padding: 2em;
    background-color: grey;
}

header {
    padding: 2em;
    background-color:lightgreen;
}

.Header1-Text{
    text-align:center;
}

.page2 {
    display: flex;
    border: 1px rgb(0, 0, 0) solid;
    padding: 2em;
    background-color: grey;
}

footer {

    border: 1px rgb(0, 0, 0) solid;
    padding: 2em;
    background-color:royalblue;
}

div img {
    width: 300px;
}

.image1{
    border: 1px black solid;
}


.FlexBox-Container1 {
    display: flex;
    position: relative;
    text-align: right;
    color: aliceblue;
}

.FlexBox-Content1 {
    
}

.centered {
    display: flex-end;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.FlexBox-Container2 {
    position: relative;
    text-align: left;
    color:aliceblue;
}